
<html xmlns:th="http://thymeleaf.org">
<head>
	<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

    <meta charset="UTF-8">
    <title>Enter Your tweet.</title>
	
</head>
<body>
	<div class="header">
		<p class="headerText">
		TwitterClone
		</p>
    </div>
    <div class="content">
        <div class="tweetBox">
            <form action="/tweets" method="POST">
                <h2>Enter your tweet here</h2>
                <br />
                <input type="text" name="content" required="required" />
                <input type="submit" value="Tweet" />
            </form>
        </div>
        <br />
        <div class="historicTweets">
            <h1>Past Tweets</h1>
                <ul>
                    <li th:each="tweet : ${tweets}"><h6 th:text="'At ' + ${tweet.date}"></h6><p class="tweetContent"th:text="${tweet.content}"></p></li>
                </ul>
        </div>
    </div>
</body>
</html>